<div class="container-fluid">
    <button ng-click="Consump.viewConsumed()">Hit me</button>
     <table ng-show="Consump.consumed">
       <thead>
        <tr>
        <th>Date</th>
        <th>Time</th>
         <th>Location</th>
         <th>Reason</th>
         <th>Comment</th>
         <th>Edit</th>
         <th>Delete</th>
</thead>
<tbody>
    <tr ng-repeat="consumed in Consump.consumed | orderBy: 'date' ">
        <td>{{consumed.date | date}}</td>
        <td>{{consumed.consumedID}}</td>
        <td>{{consumed.time}}</td>
        <td>{{consumed.location}}</td>
        <td>{{consumed.reason}}</td>
        <td>{{consumed.comments}}</td>
        <td><button class="btn-danger" ng-click="Consump.deleteConsumed(id, consumed)">Delete</button></td>
        <td><button class="btn-default" ng-click="Consump.getIndividualSmoke(id, consumed)">Edit</button></td>
    </tr>
</tbody>
</table>    
     </div>
