
  
<div class="container create-cigarette">
    <h1>Enter Your Smoking Data</h1>
    <div class="form-group">
        <label class="control-label">Choose Date </label>
        <datepicker></datepicker>
        </div>
        <div>
                    <label class="control-label">Time </label>
                    <TimePicker hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></TimePicker>
                </div>
                <div>
                    <label class="control-label">Reason</label>
                    <input type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label class="control-label">Location </label>
                    <input type="text" class="form-control"/>
                </div>
                <div class="form-group">
                    <label class="control-label">PreCursor </label>
                    <input type="text" class="form-control"/>
                </div>
    </div>
      













