
@{
    ViewBag.Title = "Index";
}

<section ng-app="Quitting">
    <nav class="side-nav col-md-2">
        <ul>
            <li><a ng-href="/Begin/#/EnterCigarettes">Enter Cigarettes</a></li>
            <li><a ng-href="/Begin/#/ViewEntries">View Consumption</a></li>
            
        </ul>
    </nav>
    <div ng-view></div>
</section>
<input type="hidden" value="@ViewBag.UserId" id="userID" />