
@{
    ViewBag.Title = "Index";
}

<section ng-app="Quitting">
    <nav class="side-nav col-md-2">
        <ul>
            
            <li><a class="btn btn-primary" value="Enter Cigarettes" ng-href="/Begin/#/EnterCigarettes">Enter Cigarettes</a></li>
            <li><a class="btn btn-primary" value="Enter Target" ng-href="/Begin/#/EnterTarget">Enter Target</a></li>
            <li><a class="btn btn-primary" value="View Consumed" ng-href="/Begin/#/Consumption">View Consumption</a></li>
           
        </ul>
    </nav>
    <div ng-view></div>
</section>
<input type="hidden" value="@ViewBag.UserId" id="userID" />