@{
    ViewBag.Title = "Home Page";
}

<div class="landing-container">
    @Html.ActionLink("My Memories", "Index", "App")
    <p>Recollection is a simple app that keeps track of memories, people and places that are important to you.</p>
</div>
